:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #354747;
  color: lightgray;
  font-family: 'PT Sans', sans-serif;
}

body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}

.teams {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 75%;
}

.team-one,
.team-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.team-one {
  border: 10px outset lightgray;
}

.team-two {
  border: 10px inset lightgray;
}

.team-one h2,
.team-two h2 {
  font-size: 2rem;
}

.team-1-score,
.team-2-score {
  text-align: center;
  font-size: 5rem;
}

.team-1-add-1-button,
.team-2-add-1-button {
  font-size: 1rem;
  color: white;
  background-color: darkgreen;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.25rem;
  margin: 0.5rem;
}

.team-1-subtract-1-button,
.team-2-subtract-1-button {
  font-size: 1rem;
  color: white;
  background-color: darkred;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.25rem;
  margin: 0.5rem;
}

.update-team-2-name,
.update-team-1-name {
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.25rem;
  margin: 0.5rem;
  background-color: lightgray;
}

.team-1-input,
.team-2-input {
  background-color: #c6f7ed;
  border-radius: 8px;
}

@media (max-width: 600px) {
  body {
    font-size: 0.75rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.5rem;
  }
}
